<app-navbar></app-navbar>





<p class="text-uppercase titulo">porteros</p>
<!-- Grid row -->
<p class="text-uppercase dorsal">13</p>
<div class="row">
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-xl-5 col-md-4 mb-3 text-center">

    <img src="http://files.proyectoclubes.com/cordoba/201809/250x250_10105738carlos-abad.jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

</div>
<!-- Grid row -->

<p class="text-uppercase dorsal">26</p>

<div class="row">

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-xl-5 col-md-4 mb-3 text-center">

    <img src="http://files.proyectoclubes.com/cordoba/201809/250x250_10113305marcos-lav--n.jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

</div>


<hr>

<p class="text-uppercase titulo">defensas</p>
<!-- Grid row -->
<p class="text-uppercase dorsal">3</p>
<div class="row">
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-xl-5 col-md-4 mb-3 text-center">

    <img src="http://files.proyectoclubes.com/cordoba/201901/250x250_31092648fla--o.jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

</div>
<!-- Grid row -->

<p class="text-uppercase dorsal">5</p>

<div class="row">

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-xl-5 col-md-4 mb-3 text-center">

    <img src="http://files.proyectoclubes.com/cordoba/201901/250x250_31095341chus-herrero.jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

</div>

<p class="text-uppercase dorsal">11</p>

<div class="row">

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-xl-5 col-md-4 mb-3 text-center">

    <img src="http://files.proyectoclubes.com/cordoba/201902/250x250_08112244alex-menendez.jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

</div>


<p class="text-uppercase dorsal">15</p>

<div class="row">

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-xl-5 col-md-4 mb-3 text-center">

    <img src="http://files.proyectoclubes.com/cordoba/201809/250x250_10122226loureiro.jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

</div>


<p class="text-uppercase dorsal">16</p>

<div class="row">

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-xl-5 col-md-4 mb-3 text-center">

    <img src="http://files.proyectoclubes.com/cordoba/201809/250x250_10115530quintanilla.jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

</div>




<p class="text-uppercase dorsal">17</p>

<div class="row">

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-xl-5 col-md-4 mb-3 text-center">

    <img src="http://files.proyectoclubes.com/cordoba/201809/250x250_10110039fern--ndez.jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

</div>


<p class="text-uppercase dorsal">24</p>

<div class="row">

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-xl-5 col-md-4 mb-3 text-center">

    <img src="http://files.proyectoclubes.com/cordoba/201809/250x250_10112630luis-mu--oz1.jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

</div>


<hr>

<p class="text-uppercase titulo">centrocampistas</p>

<p class="text-uppercase dorsal">6</p>

<div class="row">

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-xl-5 col-md-4 mb-3 text-center">

    <img src="http://files.proyectoclubes.com/cordoba/201902/250x250_01164736yann.jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

</div>



<p class="text-uppercase dorsal">14</p>

<div class="row">

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-xl-5 col-md-4 mb-3 text-center">

    <img src="http://files.proyectoclubes.com/cordoba/201809/250x250_10120100romero.jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

</div>


<p class="text-uppercase dorsal">18</p>

<div class="row">

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-xl-5 col-md-4 mb-3 text-center">

    <img src="http://files.proyectoclubes.com/cordoba/201809/250x250_10114144miguel-de-las-cuevas.jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

</div>


<p class="text-uppercase dorsal">19</p>

<div class="row">

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-xl-5 col-md-4 mb-3 text-center">

    <img src="http://files.proyectoclubes.com/cordoba/201809/250x250_10115022quim.jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

</div>


<p class="text-uppercase dorsal">21</p>

<div class="row">

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-xl-5 col-md-4 mb-3 text-center">

    <img src="http://files.proyectoclubes.com/cordoba/201809/250x250_10121227vallejo.jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

</div>


<p class="text-uppercase dorsal">22</p>

<div class="row">

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-xl-5 col-md-4 mb-3 text-center">

    <img src="http://files.proyectoclubes.com/cordoba/201809/250x250_13135745blati-toure.jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

</div>


<p class="text-uppercase dorsal">23</p>

<div class="row">

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-xl-5 col-md-4 mb-3 text-center">

    <img src="http://files.proyectoclubes.com/cordoba/201810/250x250_11202653javi-lara.jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

</div>


<hr>

<p class="text-uppercase titulo">delanteros</p>



<p class="text-uppercase dorsal">9</p>

<div class="row">

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-xl-5 col-md-4 mb-3 text-center">

    <img src="http://files.proyectoclubes.com/cordoba/201809/250x250_10114641piovaccari1.jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

</div>


<p class="text-uppercase dorsal">10</p>

<div class="row">

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-xl-5 col-md-4 mb-3 text-center">

    <img src="http://files.proyectoclubes.com/cordoba/201809/250x250_10103753alfaro.jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

</div>


<p class="text-uppercase dorsal">20</p>

<div class="row">

  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-xl-5 col-md-4 mb-3 text-center">

    <img src="http://files.proyectoclubes.com/cordoba/201901/250x250_30095735carrillo.jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

</div>
